@import url(_reset.css);
@import url(_variaveis.css);

body {
  background-color: var(--azul-fundo);

  font-family: var(--familia-corpo);
  font-size: var(--tamanho-corpo);

  color: var(--branco);
}

.container {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

@media screen and (max-width=375px) {
  .container {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
