.projeto__titulo {
  font-family: var(--familia-corpo);
  font-size: var(--tamanho-menu);
  line-height: var(--altura-menu);
  letter-spacing: 5px;
}

.projeto__linguagem {
  height: 56px;
  width: 100%;
  margin-bottom: 1rem;
}

.projeto__linguagem--texto {
  color: #73726c;
}

@media screen and (min-width: 768px) {
  .projeto__config {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projeto__linguagem {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .projeto {
    width: 17rem;
  }
}
